# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
TODO.html

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml
*.ipr
*.iws

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
build.properties

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log


*.h2.db
*.trace.db
*.index.db

project/*
lib_managed/*

create.sql
drop.sql
*.swp
